doctype html
html
	head
	body 
		h1 FoR/Each Loop
		- const names = ["Dom", "Sophie", "Mark"]
		- const grades = {"Web Dev": 85, "SoftWare Design": 76}
		//-for n, index in names
		//-for n, index in grades
		//-Each n, index in []
		for n, index in []
			p= n + " - " + index
		else 
			strong No values are here!